<%= javascript_include_tag 'form_validate' %>
<%= javascript_include_tag 'pdf-modal' %>
<% puts @paper.status %>
<div id="pdf-view"></div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <% if @paper.status == 'CONCLUIDA'%>
      <p><%= link_to 'Voltar', reviewer_concluded_path, class: 'btn btn-info'%></p>
    <%elsif @paper_status =='REVISOR' || @paper.status == 'VOLTOU REVISOR'%>
      <p><%= link_to 'Voltar', reviewer_pending_path, class: 'btn btn-info'%></p>
    <% else%>
      <p><%= link_to 'Voltar', reviewer_pending_path, class: 'btn btn-info'%></p>
    <% end %>
  </div>
</div>

<% puts @paper.status %>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p class="text-center"><%= @paper.title.upcase%></p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Professor: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.professor.name%></p>
          </div>
        </div>
        <% if @paper.coordinator != nil%>
          <div class="row">
            <div class="col-md-4">
              <p><b>Coordenador:</b></p>
            </div>
            <div class="col-md-8">
              <p><%= @paper.coordinator.name%></p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Estado: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left"><%= @paper.status%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Artigo Original: </b></p>
          </div>
          <div class="col-md-8">
            <p class="text-left">
              <%= link_to @paper.original_file_key.url, target: :_blank, class: 'btn btn-primary' do %>
                <i class="fas fa-download"></i>
                Baixar
              <% end %>
            </p>
          </div>
        </div>


        <% if @paper.status=='DEVOLVIDO' || @paper.status=='CONCLUIDA' || @paper.status=='VOLTOU REVISOR' %>
          <div class="row">
            <div class="col-md-4">
              <p class="text-left"><b>Artigo Revisado: </b></p>
            </div>
            <div class="col-md-8">
              <p class="text-left">
                <%= link_to @paper.reviewed_file_key.url, target: :_blank, class: 'btn btn-primary' do %>
                  <i class="fas fa-download"></i>
                  Baixar
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left"><b>Enviar Artigo: </b></p>
          </div>
          <div class="col-md-8">
            <% if @paper.status != 'CONCLUIDA'%>
              <%=form_for @paper, :url => reviewer_save_path(:paper_id => @paper.id) do |f|%>
                <%= f.file_field :reviewed_file_key, class: 'btn btn-primary' %>
                <div class="reviewer-checkbox">
                  <%= f.check_box :status, {}, 'DEVOLVIDO', 'REVISOR' %> Revisão Concluída
                </div>
                <div>
                  <%= f.submit 'Atualizar', class: 'reviewer-paper-button btn btn-primary'%>
                </div>
              <% end %>
              <% else %>
                <p class="two-column-left"><b>Concluído em: </b></p>
                <p class="two-column-right"><%= @paper.updated_at %></p>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>