<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#not-my-papers-table").DataTable();
  })
</script>

<div  class="col-md-4 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><i class="fas fa-calendar-times"></i>
        <%= @coordinator_papers_pending %>
      Pendências</p>
    </div>
    <div class="panel-footer">
      <%= link_to coordinator_pendings_path, class: 'btn btn-default' do %>
      Suas Pendências <i class="fas fa-arrow-circle-right"></i> 
      <% end %>
    </div>
  </div>
</div>
<div  class="col-md-4 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><i class="fas fa-calendar-minus"></i>
        <%= @coordinator_papers %>
      Artigos para serem revisados</p>
    </div>
    <div class="panel-footer">
      <%= link_to coordinator_onhold_path, class: 'btn btn-default' do %>
      Ver Artigos <i class="fas fa-arrow-circle-right"></i> 
      <% end %>
    </div>
  </div>
</div>
<div  class="col-md-4 text-center">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><i class="fas fa-calendar-check"></i>
        <%= @coordinator_papers_concluded %>
      Revisões Concluídas</p>
    </div>
    <div class="panel-footer">
      <%= link_to coordinator_concluded_path, class: 'btn btn-default' do %>
      Ver Mais <i class="fas fa-arrow-circle-right"></i> 
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <p><b>TODOS OS ARTIGOS</b></p>
      <table id="not-my-papers-table">
        <thead>
          <tr>
            <th>título</th>
            <th>Professor</th>
            <th>Estado</th>
            <th>Data de submissão</th>
            <th>Informações</th>
            <th>Alocar-se</th>
          </tr>
        </thead>
        <tbody>
          <% if !@all_papers.empty?%>
          <% @all_papers.each do |paper|%>
          <tr>
            <td><%= paper.title %></td>
            <td><%= paper.professor.name %></td>
            <td><%= paper_status(paper.status) %></td>
            <td><%= paper.created_at.to_date%></td>
            <td><%= link_to 'Ver Mais', coordinator_show_paper_path(paper_id: paper.id)%></td>
            <td><%= link_to 'Apropriar-se', take_paper_path(:paper_id => paper.id)%></td>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <td><b>Não existe artigo submetido</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>