<!DOCTYPE html>
<html>
  
  <head>
    <title></title>
    <meta charset="utf-8">
  </head>
  
  <body>
    <script type="text/javascript">
      $(function(){
        $(window).ready(function(){
          $('#myModal').modal('show');
        });
      })
    </script>
    <style type="text/css">
    .modal-size, iframe{
      height: 60vh;
      width: 100%;
    }
    </style>
    <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="col-md-2"></div>
      <div class="model-dialog modal-dialog-centered col-md-8" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a  class="close" data-dismiss="modal">×</a>
            <h3 class="text-center"><%= @modal_header %></h3>
          </div>
          <div class="modal-body modal-size">
            <% if @modal_header == 'Artigo Original'%>
              <iframe src="<%= @paper.original_file_key.url %>"></iframe>
            <% else %>
              <iframe src="<%= @paper.reviewed_file_key.url %>"></iframe>
            <% end %>
            <%#= pdfjs_viewer pdf_url: @paper.original_file_key, style: :reduced %>
          </div>
          <div class="modal-footer">
            <a  class="btn btn-danger" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </body>
</html>
