<script type="text/javascript">
  $(function(){
    document.addEventListener("turbolinks:before-cache", function() {
      dataTable.destroy();
    });
    var dataTable = $("#events-table").DataTable({
      "ordering": false,
      "searching": false,
      "lengthChange": false,
      "paging": false
    });
  })
</script>

<div class="row">
  <% if @paper.status == "CONCLUIDA"%>
    <p><%= link_to "Voltar", professor_concluded_path, class: 'btn btn-info'%></p>
  <%elsif @paper.status == "SUBMETIDO"%>
    <p><%= link_to "Voltar", root_path, class: 'btn btn-info'%></p>
  <% else %>
    <p><%= link_to "Voltar", professor_pending_path, class: 'btn btn-info'%></p>
  <% end %> 
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3 class="centralizar"><b>HISTÓRICO</b></h3>
    <table id="events-table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Movimentação</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event|%>
        <tr>
          <td>[<%= event.created_at%>]</td>
          <td><b><%= event.log %></b></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
