 /*
  *= require application
  *= require_self
 */

/* Style for Index of Coordinator */
.my-papers {
  margin-bottom: 100px;
}

/* Style for Veja Mais Section*/

.wrapper-center-paper {

  font-family: 'Roboto';
  border: 2px 2px #EEEEEE;
  border-radius: 10px;
  
  height: 50vh;
  width: 30vw;
  margin: 0 auto;

}
.select-size{
  display: inline;
  width: 200px;
}

.content-paper {
  margin-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.centralizar{
  text-align: center;
}
.remove-paper {
  margin-top: 20px;
}
.paper-title h1, .paper-title h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: -3px;
}
.paper-professor p {
  margin-top: 25px;
}
.row{
  display: table-row;
  width: 100%;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}
.two-column-left{
  float: left;
  width: 30%;
  text-align: left;
}
.two-column-right {
  float: left;
  text-align: right;
}
/*End of Style for Veja Mais Section*/

a.return-paper-hover:hover {
  color: red;
}