/*
  *= require application
*/
.espacamento {
  margin-top: 30px;
}
.espacamento-plus {
  margin-top: 75px;
}
.centralizar{
  text-align: center;
}
 .wrapper-center-paper {
  font-family: 'Roboto';
  border: 2px 2px #EEEEEE;
  border-radius: 10px;
  box-shadow: 1.5px 1px #c6c6c6;
  height: 50vh;
  width: 30vw;
  margin: 0 auto;
  background-color: white;
}
.content{
  margin-left: 10px;
}
.row{
  display: table-row;
  width: 100%;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}
.two-column-left{
  float: left;
  width: 30%;
  text-align: left;
}
.two-column-right {
  float: left;
  text-align: right;
}
.paper-input-title {
  width: 20vw;
  height: 10vh;
}
.center-file-field {
  margin: 0 7.5vw;
  width: 15vw;
}