<!DOCTYPE html>
<html>
  <head>
    <title>SistemaRevisao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'professor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'professor', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <nav class="navbar-default">
        <div class="container">
          <div class="navbar-header">
            <small>Bem Vindo, <%#= current_coordinator.name %></small>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Alterna navega&ccedil;&atilde;o</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Descricao
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-header">Modulo 1</li>
                    <li><a href="">Opcao 1</a></li>
                    <li><a href="">Opcao 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Modulo 2</li>
                    <li><a href="">Opcao 1</a></li>
                  </ul>
              </li>
              <li><a href="#" onClick="efetuarLogoff();">Sair</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if professor_signed_in?%>
      <%= link_to 'Logout professor', destroy_professor_session_path, method: :delete%> |
      <%= link_to 'professor index', professor_index_path%>
    <% elsif coordinator_signed_in? %>
      <%= link_to 'Logout coordenador', destroy_coordinator_session_path, method: :delete%> |
      <%= link_to 'coordenador index', coordinator_index_path%>
    <% elsif reviewer_signed_in?%>
      <%= link_to 'Logout revisor', destroy_reviewer_session_path, method: :delete%> |
      <%= link_to 'revisor index', reviewer_index_path%>
    <%end%>
    <br>
    <% unless coordinator_signed_in? || professor_signed_in? || reviewer_signed_in? %>
      <%= link_to 'Login ', logins_path%> <br>
    <% end %> 

    <%= yield %>

    <%= link_to 'Início', papers_path%>
  </body>
</html>
