<!DOCTYPE html>
<html>
  <head>
    <title>SistemaRevisao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'professor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'professor', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <header class="navbar">
      <nav class="navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><small>Bem Vindo, <%= current_professor.name %></small></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a class="navbar-brand" href="/"><small>Página Inicial</small></a></li>
              <li><a data-confirm="Tem certeza que deseja sair?" data-method="delete" class="navbar-brand" href="/professors/sign_out"><small>Sair</small></a></li>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
